#root{
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 .5rem;
}

html{
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    overflow-y: scroll;
}

body{
    --hn-orange: #ff6600;
    --comment-0: #492365;
    --comment-1: #816099;
    --comment-2: #603A7C;
    --comment-3: #310F4A;
    --comment-4: #1C032F;
}

code {
    font-family: 'Roboto Mono', monospace;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    background: #474749;
}

nav ul li{
    padding: .5rem 1rem;
    color: #f2f2f2;
}

nav ul li.selected{
    border-bottom: 3px solid var(--hn-orange);
}

nav ul li:hover{
    background: #808080;
    cursor: pointer;
}


.story{
    margin: 1rem 0;
    padding: 1rem;
    background: #fff;
}

.headline{
    margin-bottom: 1rem;
}

.title{
    font-weight: bold;
    display: inline-block;
    margin-right: .5rem;
}

.domain{
    font-size: .7rem;
}

.subtext{
    font-size: .75rem;
}

.comment-toggle{
    color: #001628;
    cursor: default;
}

.comment-toggle.has-comments{
    cursor: pointer;
    text-decoration: underline;
}

.hot::before{
    content: "🔥";
    display:inline-block;
    margin-right: .25rem;
    text-decoration: none;
}

.comments {
    display: none;
}

.self-text{
    background: #dadada;
    padding: .5rem;
    font-size: .9rem;
    margin: .5rem 0;
}

.comment{
    margin: .5rem 0 .5rem .5rem;
    padding: .5rem;
    font-size: .8rem;
    border-left: 2px solid var(--comment-0);
    background: #dadada;
}


.comment > .comment {
    background: rgba(251,251,251, 50%);
}

.comment a{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.comment .subtext{
    margin-top: .25rem;
}

.is-hidden{
    display:none;
}

.is-visible {
    display: block;
}
