#root{
    max-width: 1200px;
    margin: 0 auto;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f6f6;
}

.story{
    margin: 1rem;
    padding: 1rem;
    background: #fff;
}

.headline{
    margin-bottom: 1rem;
}

.title{
    font-weight: bold;
    display: inline-block;
    margin-right: .5rem;
}

.domain{
    font-size: .7rem;
}

.links a{
    font-size: .75rem;
    margin-right: .5rem;
}
